<h1 class = "top_block block_2"></h1>
<div class="about_back_image">
	<div class="about_box">
		<div class="about_1">
			<h2>About Life Music</h2>
			<P>
				<strong>音楽</strong>というものは<br>
				ただ聞くだけでなく思い出や聞いていた時の出来事など<br>
				様々なものを刻み、フラッシュバックさせてくれるものです。<br>
				この<strong>Life Music</strong>は<br>
				<strong>人の音楽のインプット　自分の音楽のアウトプット</strong><br>
				をテーマとしたサイトです。<br>
				自分の<strong>一番の音楽</strong>をはじめとした、好きな曲、恋人と別れた際に聞いていた曲、学生時代に友達と熱唱していた曲、勝負どきにいつも聞く曲<br>
				そういった曲を投稿し、また<br>
				親しい友人から全く知らない人までその人の<strong>それ</strong>を見つける事が出来ます。<br>
				投稿の際の<strong> introduction </strong>という部分では先程言った<br>
				様々な思い出を好きなように書くことができます。<br>
				このサイトを通じて、様々な方の<br>
				<strong>人の音楽のインプット　自分の音楽のアウトプット</strong><br>
				の、些細なきっかけになることを願っています。
			</P>
			<p class = "my_massege">From the creater of this site</p>
		</div>
		<div class="about_2">
			<h2>About Creater</h2>
			<div class="daichi_image">
				
			</div>
			<div class="daichi_introduction">
				<h3>Daichi Takahashi</h3>
				<p>Birthday : 1997年4月7日<br>
				   Gmail : venciel.daichi@gmail.com <br>
				   Twitter : 1997040718 <br>
				   Instagram  :  97west47jpn<br>
				   <br>
				   このサイトは要件定義、設計、開発、全て私自身で行ったものです。<br>
				   MacとWindowsの違いも分からないところから約半年でこのサイトの製作に至りました。<br>
				   未熟な部分も多くあると思いますが<br>
				   どうか温かい目で見て、使っていただければ幸いです。<br>
				</p>
			</div>
		</div>
	</div>
</div>


<!-- <p>どのようなコンセプトで、どのような情報を発信しているのか
		ブログ名・サイト名にどのような想いが込められているのか
		どのような人に向けて書いているのか</p> -->