<h1 class = "top_block block_1"></h1>
<div class="top_back_image">
	<div class = "top_message text_top">
		<p>What`s your music?</p>
	</div>
		<div class = "login_signin top_text">
			<%= link_to "Log in", new_user_session_path , class:"text_top" %><br>
			<%= link_to "Sign up", new_user_registration_path , class:"text_top" %>
		</div>
</div>
